<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="">
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">quienes</a></li>
            <li><a href="">servicios</a></li>
            <li><a href="">porfolio</a></li>
            <li><a href="">sucursales</a></li>
            <li><a href="">contacto</a></li>
        </ul>
    </header>
    <div>
        <section class="banner">
            <img src="/img/img-banner.jpg" alt="">
        </section>
    </div>
</body>
</html>